@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Poppins:wght@200;300&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: .5em;
    margin-bottom: .8em;
    font-family: 'Poppins', sans-serif;
}

@each $header, $size in (h1: 2.2em, h2: 2em, h3: 1.8em, h4: 1.6em, h5: 1.4em, h6: 1.2em) {
    #{$header} {
        font-size: $size;
        letter-spacing: 1px;
    }
}

p {
    font-size: 1em;
}

a {
    font-size: 1.1em;
}

i {
    font-size:1.3em;
}