$background: #121212;

$primary-color: #FFDB6E;

$primary-surface: #1e1e1f;
$secondary-surface: #2a2a2b;
$third-surface: #2c2a2a;
$gradient-surface: linear-gradient(137.84deg, #3F3F40 2.69%, #303030 93.75%);

$primary-border: #383838;
$gradient-border: linear-gradient(155deg, #FFDA6D 0%, rgba(255, 191, 96, 0) 50%);

$primary-heading: #FCFCFC;

$primary-paragraph: #a9a9a9;